a {
    text-decoration: none;
    color: #000;
}

.sidebar input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #444;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    gap: 2rem;
    padding: 0 10rem;
    padding-top: 50px;

}

.main-content {
    flex: 3;
}

.sidebar {
    flex: 1;
    min-width: 250px;
}

.blog-post {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.blog-post img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.post-meta {
    display: flex;
    gap: 1.2rem;
    font-size: 0.85rem;
    color: #888;
    margin: 0.8rem 1.2rem;
}

.post-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0.5rem 1.2rem;
}

.post-excerpt {
    margin: 0.5rem 1.2rem;
    font-size: 0.95rem;
    color: #555;
}

.read-more {
    margin: 0.8rem 1.2rem;
    font-weight: bold;
    color: #c4943f;
    display: inline-block;
}

.widget {
    background: #fff;
    padding: 1.2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.widget h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
}

.blog-categories ul,
.recent-posts ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.blog-categories li,
.recent-posts li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7rem;
    color: #444;
    font-size: 0.95rem;
}

.recent-posts li {
    flex-direction: column;
    margin-bottom: 1rem;
}

.recent-posts li span {
    font-size: 0.8rem;
    color: #aaa;
}